{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reg/profile.css' %}" />
    <title>Your Profile Page</title>
</head>
<body>
    <div class="container"> 
        <h1>Welcome, {{ user.username }}.</h1>
        <p>Your Profile Information</p>
        <div class="info">
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            {% if user.is_staff %}
                <p>Role: Admin</p>
            {% else %}
                <p>Role: User</p>
            {% endif %}
        </div>
        
        <div class="actions">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="/projects">Your Projects</a>
        </div>
        
    </div>
</body>
</html>